/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #000000;
}

/* Navigation */
.nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
  position: relative;
  z-index: 999;
  background-color: #00000000;
}
.menu {
  margin: 0 30px 0 0;
}

.menu a {
  text-decoration: none;
  color: #000000;
  margin: 0 10px;
  line-height: 70px;
  letter-spacing: .9px;
  text-transform: uppercase;
  transition: all 250ms ease;
}

.menu h5 {
  margin: 0 30px;
  text-transform: uppercase;
  float: left;
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 2px;
  position: relative;
  z-index: 999;
  color: #FEFFFF;
}

.logo-img {
  width: 80px;
  height: auto;
}

label {
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
  color: #354757;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: block;
}

/* Photo Section */
.photo {
  width: 100%;
  height: auto;
  position: relative;
  background: url('https://scontent.fbog11-1.fna.fbcdn.net/v/t39.30808-6/329127713_880721833143538_1500952045008110891_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeFiuWHtCTjFpjBx48vfakJ-m3WG_ubX8TKbdYb-5tfxMrcouTqv9F-2kTV9jYweb8mtq9UlKljlKu1qHNiEMIXp&_nc_ohc=iJBfQJQdK30Q7kNvgFE6lH4&_nc_ht=scontent.fbog11-1.fna&oh=00_AYBE5KSnEZ_xRF5X_toZDSOB5U6gMF1h1HtnDZb8rW1u7Q&oe=66B83109') center;
  background-size: cover;
  overflow: hidden;
}

.photo-text {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 200vh;
  top: 0;
  left: 0;
  background: rgba(60, 63, 114, 0);
}

.photo h4 {
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #e7a7ff;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 998;
}

.photo p {
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #D7DADE;
  position: relative;
  z-index: 998;
}

/* Content Section */
.content {
  width: 100%;
  min-height: 800px;
  position: relative;
  z-index: 1;
}

.content:before {
  content: '';
  width: 50%;
  height: 110px;
  position: absolute;
  top: -48px;
  left: 0;
  background: linear-gradient(180deg, #5c5c5c,#333333,#000000,#000000,#000000);
  transform: skewY(5.5deg);
}

.content:after {
  content: '';
  width: 50%;
  height: 110px;
  position: absolute;
  top: -48px;
  right: 0;
  background: linear-gradient(180deg, #5c5c5c,#333333,#000000,#000000,#000000);
  transform: skewY(-5.5deg);
}

.grand-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
  width: 60%;
  min-height: 100px;
  padding: 0;
  margin: 0 auto;
}

.grand-title h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin: 30px;
  color: #de49ff;
}

.grand-title h4:after {
  content: '';
  display: block;
  width: 5%;
  height: 3px;
  margin: 25px auto;
  border: 0;
  background: #E58859;
}

.text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -10px;
  position: relative;
  z-index: 999;
}

.inner-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  margin: 10px;
  transition: all 450ms ease;
}

.inner-text:hover {
  cursor: pointer;
  box-shadow: -1px 6.5px 15px rgb(151, 255, 117);
}

.text-box {
  text-align: center;
}

.text-box h5 {
  color: #b458ff;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.text-box p {
  color: #ffffff;
}



/*Portafolio*/
.portafolio{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: -35px;
  margin-bottom: 40px;
  position: relative;
}

.portafolio h4{
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #ff5de1;
  letter-spacing: 1.2px;
}

.portafolio h4:after{
  content: '';
  display: block; 
  width: 3%;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #81e559;
}

.portafolio-container{
  display: flex;
  justify-content: space-between;
}

.portafolio-item{
  width: 30%;
  position: relative;
  overflow: hidden;
  border-radius: .20em;
}

.portafolio-item img{
  width: 100%;
}

.portafolio-text{
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: rgba(254, 255, 255, .8);
  color: #FDFDFD;
  transform: translateY(100%);
  transition: all 450ms ease;
}

.portafolio-text h5{
  color: #299FFF;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin: 0;
}

.portafolio-text p{
  text-align: justify;
  color: #6D85A8;
}

.portafolio-item:hover .portafolio-text{
  transform: translateY(0);
}

.portafolio-img{
  transition: all 450ms ease;
}

.portafolio-item:hover .portafolio-img{
  transform: rotate(-5deg) scale(1.15);
}

/*FOOTER*/
.footer {
  position: relative;
  padding: 20px;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.footer h4 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffe1ff;
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #000000, 0 0 30px #adff7a;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer {
  list-style-type: none;
  padding: 0;
}

.flex-outer li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.rect {
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #222;
  color: #ff00ff;
}

.rect:focus {
  outline: none;
  border-color: #ff00ff;
  box-shadow: 0 0 10px #ff00ff;
}

.center {
  text-align: center;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff00ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #fffdff;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f889f8b6;
}

.social-media {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-media li {
  display: inline-block;
}

.social-media a {
  color: #e7e7e7;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.social-media a i {
  margin-right: 5px;
}

.social-media a:hover {
  color: #ff66ff;
}
